<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0" />
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Casse-burne</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body class="noselect">
  <div id="app" class="noselect" @keydown.left='movePlatform(true, dirPressed[1])' @keyup.left='movePlatform(false, dirPressed[1])' @keydown.right='movePlatform(dirPressed[0], true)' @keyup.right='movePlatform(dirPressed[0], false)' tabindex="0">
    <div id="menuBar"></div>
    <div id="game">
      <div id="blockMap">
        <div id="blockLine" v-for="line in blockMap" >
          <div id="block" v-bind:class="'l' + block.toString()" v-for="block in line" ></div>
        </div>
        <div id="mapFooter"></div>
      </div>
      <div id="platformRail">
        <div id="platformLeft" v-bind:style='platformLeft' ></div>
        <div id="platform" ></div>
        <div id="platformRight" v-bind:style='platformRight'></div>
      </div>
    </div>
    <div id="buttons" >
      <div id="menuBarButtons" class="noselect" >Casse-burne<button id="loadMap" v-on:click='loadMap'>Charger des burnes</button></div>
      <div id="screen">
        <div id="directionScreen">
          <div id="leftScreen" v-on:mouseover="movePlatform(true, false)"></div>
          <div id="rightScreen" v-on:mouseover="movePlatform(false, true)"></div>
        </div>
        <div id="stopScreen" v-on:mouseover="movePlatform(false, false)"></div>
      </div>
    </div>
  </div>
  <script src="script.js" type="text/javascript"></script>
</body>
</html>
