#app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}

#menuBar {
  display: flex;
  flex: 1;
  background-color: #AAAAAA;
}

#game {
  display: flex;
  flex: 9;
  flex-direction: column;
  background-color: #0055CC;
}

#loadMap {
  margin-left: 10px
}

#blockMap {
  display: flex;
  flex:40;
  flex-direction: column;
}

#blockLine {
  display: flex;
  flex: 1;
}

#block {
  display: flex;
  flex: 1;
}

#block.l0 {
}

#block.l1 {
  background-color: green;
  border-style: solid;
}

#mapFooter {
  display: flex;
  flex: 5;
}

#platformRail {
  display: flex;
  flex:1;
  flex-direction: row;
}

#platform {
  display: flex;
  flex: 100;
  background-color: red;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#menuBarButtons {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 20px;
}

#screen {
  display: flex;
  flex: 9;
  flex-direction: column;
}

#directionScreen {
  display: flex;
  flex: 3;
  flex-direction: row;
}

#stopScreen {
  display: flex;
  flex: 1;
}

#leftScreen {
  display: flex;
  flex: 1;
}

#rightScreen {
  display: flex;
  flex: 1;
}

#midScreen {
  display: flex;
  flex: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
