#app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}

#menuBar {
  display: flex;
  flex: 1;
  background-color: #AAAAAA;
}

#game {
  display: flex;
  flex: 9;
  flex-direction: column;
  background-color: #0055BB;
}

#loadMap {
  margin-left: 10px
}

#blockMap {
  display: flex;
  flex:40;
}

#platformRail {
  display: flex;
  flex:1;
  flex-direction: row;
}

#platform {
  display: flex;
  flex: 100;
  background-color: red;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#menuBarButtons {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 20px;
}

#screen {
  display: flex;
  flex: 9;
  flex-direction: row;
}

#leftScreen {
  display: flex;
  flex: 1;
  background-color: green;
}

#rightScreen {
  display: flex;
  flex: 1;
}
